/* les selecteurs */

p{

color: tomato;
border: 1px solid red;

}


#mytitle1{
font-family: monospace;



}



#mytitle2{


color: sienna;

}

.smallTitle1{

color: thistle;



}


.stf{

font-family: sans-serif;



}


.smallTitle2{

color: yellow;


}


.smallTitle1,.smallTitle2{

text-decoration: underline;
background-color: aqua;
border: 1px solid aquamarine;

}
*{


    text-align: center;
    opacity: 0.8;
}